/* Calendar */
html, body,
#calendar { width: 100%; height: 100%; overflow: hidden; }
#calendar > nav { height: 50px; display: flex; justify-content: center; align-items: center; }
#calendar > nav > .nav { height: 50px; width: 50px; padding: 5px; }
#calendar > nav > .nav.hide { position: absolute; left: 0; top: 0; }
#calendar > nav > .nav svg { fill: #777777; }
#calendar > nav > .nav:hover svg { fill: #000000; }
#calendar > nav > .title { color: #666666; font-weight: 300; font-size: 25px; line-height: 25px; text-align: center; letter-spacing: -1px; position: relative; }
#calendar > nav > .title strong { font-weight: 800; }
    /* Calendar: Year */
    #calendar > .YYYY { position: absolute; width: 100%; left: 0; top: 50px; bottom: 10px; }
        /* Calendar: Months */
        #calendar > .YYYY > .M { float: left; width: calc((100% - 50px) / 4); margin-left: 10px; text-align: center; }
            /* Calendar: Rows */
            #calendar > .YYYY[data-w="16"] > .M[data-w="4"] { height: calc(100%/16*4); }
            #calendar > .YYYY[data-w="16"] > .M[data-w="5"] { height: calc(100%/16*5); }
            #calendar > .YYYY[data-w="16"] > .M[data-w="6"] { height: calc(100%/16*6); }
            #calendar > .YYYY[data-w="17"] > .M[data-w="4"] { height: calc(100%/17*4); }
            #calendar > .YYYY[data-w="17"] > .M[data-w="5"] { height: calc(100%/17*5); }
            #calendar > .YYYY[data-w="17"] > .M[data-w="6"] { height: calc(100%/17*6); }
            #calendar > .YYYY[data-w="18"] > .M[data-w="4"] { height: calc(100%/18*4); }
            #calendar > .YYYY[data-w="18"] > .M[data-w="5"] { height: calc(100%/18*5); }
            #calendar > .YYYY[data-w="18"] > .M[data-w="6"] { height: calc(100%/18*6); }
                /* Calendar: Month-names */
                #calendar > .YYYY > .M > .MMMM { color: #444444; font-weight: 700; line-height: 1.5em; text-transform: uppercase; text-align: center; }
                #calendar > .YYYY > .M > .ddd { font-size: 10px; font-weight: 700; line-height: 2em; text-transform: uppercase; text-align: center; width: calc(100%/7); float: left; }
                #calendar > .YYYY > .M > .ddd:before { content: attr(data-ddd); }
                    /* Calendar: Days */
                    #calendar > .YYYY > .M > .MM { clear: both; width: 100%; height: calc(100% - 3.5em); }
                    #calendar > .YYYY > .M[data-w="4"] > .MM > .D { height: calc((100% + 3px) / 4); }
                    #calendar > .YYYY > .M[data-w="5"] > .MM > .D { height: calc((100% + 4px) / 5); }
                    #calendar > .YYYY > .M[data-w="6"] > .MM > .D { height: calc((100% + 5px) / 6); }
                    #calendar > .YYYY > .M > .MM > .D { float: left; width: calc((100% + 6px) / 7); position: relative; border: 1px solid #DEDEDE; margin-right: -1px; margin-bottom: -1px; position: relative; display: flex; align-items: center; justify-content: center; color: #333333; background: #FFFFFF; text-decoration: none; }
                    #calendar > .YYYY > .M > .MM > .D.active { font-weight: bold; background: #32358F; color: #FFFFFF; box-shadow: inset 1px 0px 0px #FFFFFF, inset -1px 0px 0px #FFFFFF, inset 0px -1px 0px #FFFFFF, inset 0px 1px 0px #FFFFFF; }
                    #calendar > .YYYY > .M > .MM > .D:first-child[data-d="1"] { margin-left: calc(((100% + 6px) / 7) * 1 - 1px); }
                    #calendar > .YYYY > .M > .MM > .D:first-child[data-d="2"] { margin-left: calc(((100% + 6px) / 7) * 2 - 2px); }
                    #calendar > .YYYY > .M > .MM > .D:first-child[data-d="3"] { margin-left: calc(((100% + 6px) / 7) * 3 - 3px); }
                    #calendar > .YYYY > .M > .MM > .D:first-child[data-d="4"] { margin-left: calc(((100% + 6px) / 7) * 4 - 4px); }
                    #calendar > .YYYY > .M > .MM > .D:first-child[data-d="5"] { margin-left: calc(((100% + 6px) / 7) * 5 - 5px); }
                    #calendar > .YYYY > .M > .MM > .D:first-child[data-d="6"] { margin-left: calc(((100% + 6px) / 7) * 6 - 6px); }
                    #calendar > .YYYY > .M > .MM > .D > .num { position: absolute; font-size: 11px; top: 0px; left: 4px; }
                    #calendar > .YYYY > .M > .MM > .D:hover > .num { font-weight: 700; }